node_modules
.DS_Store
src/__pycache__
__pycache__
client/src/ServerUrl.ts
coverage.xml
htmlcov
.coverage 
calendar_server/calendar_venv
calendar_server/client_secret.json
calendar_server/tokens
calendar_server/data
credentials.json
*.mp4
*.mp3
*.log